@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

/* 
    :: color codes ::
    1. dark : #151821;
    2. text : #cdd0d7;
    3. aqua : #4ae1d0;
    4. green : #00bb73;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #151821;
}

section{
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 481px) and (max-width: 767px){
    section{
        padding: 100px 30px;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    section{
        padding: 100px 15px;
    }
}

.row{
    width: 100%;
    display: flex;
}
@media (min-width: 481px) and (max-width: 767px){
    .row{
        flex-direction: column;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .row{
        flex-direction: column;
    }
}

.about-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
@media (min-width: 481px) and (max-width: 767px){
    .about-img{
        width: 100%;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .about-img{
        width: 100%;
    }
}

.about-img .img{
    width: 275px;
    height: 300px;
    position: relative;
    z-index: 1000;
    margin-left: -150px;
}
@media (min-width: 481px) and (max-width: 767px){
    .about-img .img{
        margin-left: 0px;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .about-img .img{
        margin-left: 0px;
    }
}

.about-img .img img{
    width: 275px;
    height: 300px;
    box-shadow: 0 10px 20px -10px;
}
.about-img .img::before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: -45px;
    left: 35px;
    border: 5px solid #4ae1d0;
}

.about-img button{
    width: 150px;
    height: 40px;
    font-size: 0.7em;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(90deg,#00bb73,#4ae1d0);
    margin-top: 40px;
    cursor: pointer;
    margin-left: -150px;
    transition: 0.5s;
}
.about-img button:hover{
    box-shadow: 0 0 15px -5px #4ae1d0;
}


.about-content{
    width: 50%;
}
@media (min-width: 481px) and (max-width: 767px){
    .about-content{
        width: 100%;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .about-content{
        width: 100%;
    }
}
.about-content h2{
    font-size: 2.5em;
    font-weight: 600;
    width: 225px;
    margin-bottom: 20px;
    background: linear-gradient(90deg,#00bb73,#4ae1d0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.about-content p{
    color: #cdd0d7;
    font-size: 0.9em;
    line-height: 22px;
    margin-bottom: 15px;
}
.about-content h5{
    color: #4ae1d0;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.about-content h5 span{
    color: #cdd0d7;
    text-transform: capitalize;
}


.about-interests{
    width: 100%;
}
.about-interests h2{
    font-size: 2.5em;
    font-weight: 600;
    width: 300px;
    margin-top: 20px;
    background: linear-gradient(90deg,#00bb73,#4ae1d0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin-left: 70px;
}
@media (min-width: 481px) and (max-width: 767px){
    .about-interests h2{
        margin-left: 0px;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .about-interests h2{
        margin-left: 0px;
    }
}
.icon-row{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}
.icon-row i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #4ae1d0;
    border-radius: 50%;
    font-size: 1.25em;
    color: #4ae1d0;
    margin: 5px;
}